body{
    background-color: black;
    margin: 0 auto;
}

.title{
    background-image: url(images/space.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main-title{
    font-size: 50px;
    width: 250px;
    text-align: center;
}

.headd{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    align-items: center;

}

.top{
    color: white;
}


/* Style The Dropdown Button */
.btndropdown {
    background-color: white;
    color: black;
    padding-left: 60px ;
    padding-right: 60px ;
    padding-top: 15px ;
    padding-bottom: 15px ;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
    position: relative;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    left: 0px;
    right: 0px;
}

/* Links inside the dropdown */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
    background-color: #cecece;
    border-radius: 10px;
    background-image: url(images/1.png);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(14px);
    transition-delay: 0s, 0s, 0.3s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btndropdown {
    background-image: url(images/1.png);
}


/* Show the dropdown menu on hover */
.dropdown-menu:hover #adv {

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translate(288.85px, -53.6px);
    transition-delay: 0s, 0s, 0.3s;
}
/* Show the dropdown menu on hover */
.dropdown-menu:hover #disco {

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translate(288.85px, -53.6px);
    transition-delay: 0s, 0s, 0.3s;
}
/* Show the dropdown menu on hover */
.dropdown-menu:hover #fanta {

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translate(288.85px, -53.6px);
    transition-delay: 0s, 0s, 0.3s;
}
/* Show the dropdown menu on hover */
.dropdown-menu:hover #front {

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translate(288.85px, -53.6px);
    transition-delay: 0s, 0s, 0.3s;
}
/* Show the dropdown menu on hover */
.dropdown-menu:hover #walt {

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translate(288.85, -53.6px);
    transition-delay: 0s, 0s, 0.3s;
}



/* Dropdown Content 2 (Hidden by Default) */
#adv {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    transform: translate(260px, -53.6px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

/* Dropdown Content 2 (Hidden by Default) */
#disco {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    transform: translate(260px, -53.6px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

/* Dropdown Content 2 (Hidden by Default) */
#fanta {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    transform: translate(260px, -53.6px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

/* Dropdown Content 2 (Hidden by Default) */
#front {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    transform: translate(260px, -53.6px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

/* Dropdown Content 2 (Hidden by Default) */
#walt {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    transform: translate(260px, -53.6px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-menu2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu2 a:hover {
    background-color: #cecece;
    border-radius: 10px;
    background-image: url(images/1.png);
}









.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose{
    margin: 20px;
}

.btn-choose{
    display: flex;
    flex-direction: row;
    font-family: 'Bebas Neue', cursive;
    
}

.img30{
    width: 50%;
    z-index: -2;

}

.radiomagic{
    margin-top: 30px;
}

.bottom{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 30px;
    color: white;
}